.chat {
  display: flex;
  justify-content: center;
}

.paper {
  margin: 16px;
  width: 800px;
}

.messages {
  margin: 4px;
  height: 80vh;
  overflow-y: scroll;
}

.form {
  display: flex;
  justify-content: center;
}

.input {
  width: 700px;
}

.submit-button {
  display: none;
}

@media (max-width: 800px) {
  .paper {
    max-width: 300px;
  }

  .input {
    width: 250px;
  }
}
