.chat {
  display: flex;
  justify-content: center;
}

.paper {
  margin: 16px;
  width: 800px;
}

.messages {
  margin: 4px;
  height: 85vh;
  overflow-y: scroll;
}

.form {
  display: flex;
  justify-content: center;
}

.input {
  width: 700px;
}
